*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  flex-direction: row;
  margin: 10px 40%;
  font-size: 20px;
  list-style-type: none;
}
.menuItem{
  margin-right: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.userName{
  font-size: 20px;
  margin-top: 15px;
  margin-left: 50px;
}
.userData{
  margin: 5px 100px;
}
.userAddress{
  margin: 5px 120px; 
}
.postTitle{
  font-size: 18px;
  font-weight: bolder;
  margin: 10px 20%;
}
.postBody{
  margin-left: 30px;
}
.detailsButton{
  margin: 0 0 50px 100px;
  cursor: pointer;
}
.detailsButton:hover{
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}